<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티 > 질문과 답변</title>
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="stylesheet" href="/css/community/qna.css">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:include="/inc/_header.html"/>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        커뮤니티   
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">질문과 답변</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/inc/community/sidebar.html"/>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>질문과 답변</p>
                    </div>
                    <div class="main_content_detail">
                        <!-- 작성할 내용 시작-->
                        <nav>
                            <form action="">
                                <select name="searchType" style="padding: 6px;">
                                    <option value="title">전체</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <option value="writer">글쓴이</option>
                                </select>
                                <input type="text" name="keyword" placeholder="검색 키워드 입력">
                                <input type="submit" value="검색">
                            </form>
                        </nav> 
                        

                        <table>                    
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><img style="margin-right: 10px;" src="/images/ico-lock.png" alt="">문의드립니다.</td>
                                <td>홍길동</td>
                                <td>24.04.09</td>
                                <td>답변대기</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>취업 진로 상담</td>
                                <td>홍길동</td>
                                <td>24.04.09</td>
                                <td>답변완료</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><img style="margin-bottom: 20px; margin-right: 10px;" src="/images/ico-reply.png" alt="">RE:[답변] 취업 진로 상담</td>
                                <td>담당자</td>
                                <td>24.04.09</td>
                                <td>답변완료</td>
                            </tr>
                        </table>

                        <div class="page">
                            <th:block th:if="${pageResponseDTO.first}">
                                <a th:href="@{/community/notice/search(pg=1, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}" class="first">
                                    <img src="/images/btn-first-page.png" alt="첫 페이지">
                                </a>
                            </th:block>

                            <th:block th:if="${pageResponseDTO.prev}">
                                <a th:href="@{/community/notice/search(pg=${pageResponseDTO.start-1}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}" class="prev"><img src="/images/btn-prev-page.png"></a>
                            </th:block>

                            <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                                <a th:href="@{/community/notice/search(pg=${num}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}" th:class="${num == pageResponseDTO.pg} ? 'current' : 'num'">[[${num}]]</a>
                            </th:block>

                            <th:block th:if="${pageResponseDTO.next}">
                                <a th:href="@{/community/notice/search(pg=${pageResponseDTO.end+1}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}" class="next"><img src="/images/btn-next-page.png" alt="다음 페이지"></a>
                            </th:block>

                            <!-- 마지막 페이지 이동 버튼 -->
                            <th:block th:if="${pageResponseDTO.last}">
                                <a th:href="@{/community/notice/search(pg=${pageResponseDTO.lastPage}, searchType=${pageResponseDTO.searchType}, keyword=${pageResponseDTO.keyword})}" class="last">
                                    <img src="/images/btn-last-page.png" alt="마지막 페이지">
                                </a>
                            </th:block>
                        </div>
                            <a th:href="@{/community/qna/write}" class="btn btnWrite">글쓰기</a>
                    
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <th:block th:include="/inc/_footer.html"/>
        <!-- 푸터 끝-->
    </div>
</body>
</html>