<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.1/locales/ko.global.js"></script>
    <title>그린대학교 학사일정</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/index.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',

                headerToolbar: {
                    start: "dayGridMonth,multiMonthYear",
                    center: "title",
                    end: "prevYear,prev,next,nextYear",
                    },
                
                    initialView: "dayGridMonth",
                    locale: "ko", // 여기

                dayCellContent: function (arg) {
                    const { date } = arg;
                    return date.getDate();
                },
            });
            calendar.render();

            
        });

    </script>
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:replace="~{inc/_header}"></th:block>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        대학소개   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">학사일정</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:replace="~{inc/academic/sidebar}"></th:block>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>학사일정</p>
                    </div>
                    <div class="main_content_detail">
                        <!-- 캘릭더 시작-->
                        <div id='calendar' style="width: 800px; height: 800px;"></div>
                    </script>
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <th:block th:replace="~{inc/_footer}"></th:block>
        <!-- 푸터 끝-->
    </div>
</body>
</html>