<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 갤러리</title>
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="stylesheet" href="/css/campus/gallery.css">

    <style>
        .main_content_detail > .page {
    text-align: center;
    margin-top: 30px;
}
    </style>
</head>
<body>
    <div id="wrapper">
        <th:block th:include="/inc/_header.html"/>
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        대학생활   
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">갤러리</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/inc/campus/sidebar.html"/>
                <!-- 오른쪽 글 -->
                <article class="main_content" >
                    <div class="main_title">
                        <p>갤러리</p>
                    </div>
                    <div class="main_content_detail">
                        <div id="items">
                            <div class="gallery-item">
                                <a href="#">
                                    <img class="gallery1" src="/images/gallary_sample1.jpg" alt="갤러리1">
                                        <p class="gallary_text">제40회 1995학년도 학위수여식</p>
                                        <p class="gallary_text2">조회수 23  | 글로벌...  |  25.02.20</p>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="#">
                                    <img class="gallery1" src="/images/gallary_sample2.jpg" alt="갤러리1">
                                        <p class="gallary_text">제40회 1995학년도 학위수여식</p>
                                        <p class="gallary_text2">조회수 23  | 글로벌...  |  25.02.20</p>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="#">
                                    <img class="gallery1" src="/images/gallary_sample3.jpg" alt="갤러리1">
                                        <p class="gallary_text">제40회 1995학년도 학위수여식</p>
                                        <p class="gallary_text2">조회수 23  | 글로벌...  |  25.02.20</p>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="#">
                                    <img class="gallery1" src="/images/gallary_sample4.png" alt="갤러리1">
                                        <p class="gallary_text">제40회 1995학년도 학위수여식</p>
                                        <p class="gallary_text2">조회수 23  | 글로벌...  |  25.02.20</p>
                                </a>
                            </div>
                            <div class="gallery-item">
                                <a href="#">
                                    <img class="gallery1" src="/images/gallary_sample5.jpg" alt="갤러리1">
                                        <p class="gallary_text">제40회 1995학년도 학위수여식</p>
                                        <p class="gallary_text2">조회수 23  | 글로벌...  |  25.02.20</p>
                                </a>
                            </div>
                        </div>
                        <div class="page">
                            <a href="" class="first"><img src="/images/btn-first-page.png" alt=""></a>
                            <a href="" class="prev"><img src="/images/btn-prev-page.png" alt=""></a>
                            <a href="" class="num">1</a>
                            <a href="" class="next"><img src="/images/btn-next-page.png" alt=""></a>
                            <a href="" class="last"><img src="/images/btn-last-page.png" alt=""></a>
                        </div>
                    
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <th:block th:replace="~{inc/_footer}"></th:block>
    </div>
</body>
</html>