<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 새비밀번호</title>
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="stylesheet" href="/css/user/Changepassword.css">
    

</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:include="/inc/_header.html"/>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/images/ico-home.png" alt="HOME">
                        <img src="/images/bg-path-arrow.png" alt=">">
                        회원   
                        <img src="/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">비밀번호 변경</span>
                    </span>
                </div>
            </div>
            <section id="change-password">
                <section id="change-password">
                    <h2>새 비밀번호 변경</h2>
                    <p>새 비밀번호와 비밀번호 확인을 입력해주세요.</p>
                
                    <form id="change-password-form">
                        <div class="input-box">
                            <input type="password" id="new-password" placeholder="새 비밀번호 입력" required>
                            <small style="color: blue;">비밀번호는 8-16자 이내, 영문, 숫자, 특수문자가 포함되어야 합니다.</small>
                        </div>
                        <div class="input-box">
                            <input type="password" id="confirm-password" placeholder="비밀번호 확인" required>
                        </div>
                        <div class="btn-container">
                            <button type="button" class="btn cancel-btn">취소</button>
                            <button type="submit" class="btn next-btn">변경</button>
                        </div>
                    </form>
                
                    <div id="result-message"></div>
                </section>
            </div>
      </main>
    <th:block th:include="/inc/_footer.html"/>
    <!-- 푸터 끝-->
</div>
</body>
</html>