<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그린대학교 학사관리시스템 교육윤영현황</title>
    <link rel="stylesheet" href="/greendae/css/admin/admin.css">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <header>
            <div>
                <div>
                    <p>
                        <a href="#">HOME |</a>
                        <a href="#">사이드맵 |</a>
                        <a href="#">로그아웃</a>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img src="/greendae/images/admin_logo.png" alt="그린대학교 학사관리시스템">
                    </a> 
                </div>
            </div>
        </header>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <aside class="sidebar">
                    <article class="side_content">                       

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-setting.png" alt="환경설정">
                                    환경설정
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 기본환경정보</p>
                                <p>· 약관관리</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-academic.png" alt="학사운영">
                                    학사운영
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 교육 운영 현황</p>
                                <p>· 학년별 학생 현황</p>
                                <p>· 학과별 학생 현황</p>
                                <p>· 강의 목록</p>
                                <p>· 강의 등록</p>
                                <p>· 수강 현황</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-persons.png" alt="인사관리">
                                    인사관리
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 학생 목록 및 등록</p>
                                <p>· 교수 목록 및 등록</p>
                                <p>· 임직원 목록 및 등록</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-college.png" alt="대학 및 학과">
                                    대학 및 학과
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 대학 및 학과 목록</p>
                                <p>· 대학 및 학과 등록</p>
                            </div>
                        </div>

                        <div>
                            <div class="side_img">
                                <p>
                                    <img src="/greendae/images/ico-admin-board.png" alt="게시판관리">
                                    게시판관리
                                </p>
                            </div>
                            <div class="side_txt">
                                <p>· 입사안내 공지사항</p>
                                <p>· 학사안내 공지사항</p>
                                <p>· 커뮤니티 공지사항</p>
                                <p>· 입학상담</p>
                                <p>· 질문 및 답변</p>
                                <p>· 식단안내</p>
                                <p>· 자료실</p>
                            </div>
                        </div>
        
                    </article>
                </aside>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>강의등록<span class="title_span">교육 운영 현황</span> <span>학사운영 > &nbsp; </span></p>
                    </div>
                    <div class="main_content_detail">
                        <div class="Operations_main">
                              
                            <!-- 기본정보입력-->
                            <p class="Operations_title">
                                <img src="/greendae/images/bullet-h4.png" alt="기호">
                                기본정보 입력
                            </p>

                            <table class="basic_info">
                                <tr>
                                    <td>과목코드</td>
                                    <td>학과코드 + 연도 + 학기 + 순번 조합 자동생성</td>
                                    <td>개설학과</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>개설학년</td>
                                    <td></td>
                                    <td>학점</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>이수구분</td>
                                    <td></td>
                                    <td>담당교수</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>강의명</td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>강의 설명</td>
                                    <td colspan="3">
                                        <textarea name="" id=""></textarea>
                                    </td>
                                </tr>
                            </table>
                            
                            
                            <!-- 기본정보입력 끝-->
                            <form action="#" method="post"></form>
                            
                        </div>                 
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <footer>
            <div>
                <div>
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">통합정보시스템</a></li>
                        <li><a href="#">학사일정</a></li>
                        <li><a href="#">주요인원 연락처</a></li>
                        <li><a href="#">교내공지사항</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div>
                    <img src="/greendae/images/footer_logo.png" alt="그린대학교">
                    <p>
                        그린대학교 <br>
                        [12345] 부산광역시 부산진구 부전대로 123 그린대학교 / 대표전화 : 051-123-1000 / <br>
                        입학안내 : 051-123-1302 팩스 : 051-123-3333

                        <br><br>
                        copyright ©Green University All rights reserved.
                    </p>
                    <div>
                        <p>주요사이트  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ▾</p>
                    </div>              
                </div>
            </div>
        </footer>
        <!-- 푸터 끝-->
    </div>
</body>
</html>